<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{{ site.title }}</title>
    <link rel="stylesheet" href="{{ 'assets/css/style.css' | relative_url }}">
    <link rel="shortcut icon" href="{{ 'favicon.ico' | relative_url }}" type="image/x-icon">
    <meta name="author" content="Stéphane Calderoni">
    <meta name="description" content="ESPboy library provides a driver for the ESPboy handheld designed by Roman Sokolov.">
    <meta name="keywords" content="espboy,esp8266,programming,arduino,platformio,library">
    <meta property="og:type" content="library">
    <meta property="og:locale" content="en_US">
    <meta property="og:title" content="{{ site.title }}">
    <meta property="og:site_name" content="m1cr0lab's experiments on ESPboy">
    <meta property="og:description" content="ESPboy library provides a driver for the ESPboy handheld designed by Roman Sokolov.">
    <meta property="og:image" content="{{ 'assets/images/espboy-256x256.png' | relative_url }}">
    <meta property="article:author" content="Stéphane Calderoni">
    <meta property="article:published_time" content="2022-05-01T19:00:00+0400">
    <meta property="article:modified_time" content="2022-05-01T19:00:00+0400">
</head>

<body>
    <div class="page">
        {{ content }}
    </div>
</body>

</html>